body {
    font-family: sans-serif;
    color: wheat;
    text-align: center;
    background-image: url(image/Bois_sombre_Texture_.jpg);
     }
.geeko{
    border-radius: 40px;
    height: 30%;
    position: relative;
    float: center;
    margin-left: 7%;
      }

ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
    float: left;
    border-right:1px solid #bbb;
   }

li:last-child {
    border-right: none;
              }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
     }

li a:hover:not(.active) {
    background-color: #4CAF50;
                        }

.active {
    background-color: #4CAF50;
        }
.texte{
    border-radius: 40px;
    background-color: #ecf0f1 ;
    color:#8e44ad;
      }
.fo {
    float: right;
    margin-right: auto;
    
    }
.fot {
    height: 250px;
     }

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
              }
.boite2  {
    border : solid 3px gray;
    padding-bottom : auto ; 
    padding-top : auto;     
    float: left;        
    width: 20%;        
    margin: auto;
         }

.boite3  {
    border: solid 3px gray;
    padding-bottom: auto;
    padding-top:auto;
    float: left;                     
    margin-left: 20%;                      
    width: 20%;
    
         }


    
